@charset "UTF-8";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
   }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
   }

audio:not([controls]) {
  display: none;
  height: 0; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 4em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

input {
  line-height: normal; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
   }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

td,
th {
  padding: 0; }

.typl8-tera, .typl8-giga, .typl8-mega, h1, .typl8-alpha, h2, .typl8-beta, h3, .icons, .typl8-gamma, h4, #drawer::after, .botDivider:not(.base-type):not(.header):after, .typl8-delta, h5, hr.fancy::after, .nav-item, .typl8-epsilon, .typeplate-code-block figcaption, blockquote + figcaption, .typl8-zeta, h6, .toc li {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  color: #222; }

.amp {
  font-family: Ampersand, Verdana, sans-serif; }

blockquote + figcaption cite, blockquote + figcaption {
  display: compact;
  font-size: inherit;
  text-align: right; }

body {
  word-wrap: break-word; }

pre code, .example > pre {
  word-wrap: normal; }

html {
  font: normal 112.5% / 1.65 serif; }

body {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #444; }

.typl8-mega, h1 {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 43.6363636364px;
  margin-bottom: 2.4242424242rem; }

.typl8-alpha, h2 {
  font-size: 200px;
  font-size: 9.3333333333rem;
  text-shadow: 4px 4px 5px white;
  margin-bottom: 36.3636363636px;
  margin-bottom: 2.0202020202rem;
  font-family: Love Moment;  }

p {
  margin: auto auto 1.5em; }
  p + p {
    text-indent: 1.5em;
    margin-top: -1.5em; }

small {
  font-size: 65%; }

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre {
  white-space: pre; }
  pre code {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap; }

code {
  white-space: pre;
  font-family: monospace; }

p + .typl8-drop-cap {
  text-indent: 0;
  margin-top: 0; }

code[class*="language-"],
pre[class*="language-"] {
  font-family: Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }
  .lt-ie9 code[class*="language-"], .lt-ie9
  pre[class*="language-"] {
    color: #a6a6a6; }

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: #dddddd;
  background: rgba(0, 0, 0, 0.1); }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .15em .2em .05em;
  border-radius: .3em;
  border: 0.13em solid #7a6652;
  box-shadow: 1px 1px .3em -.1em black inset; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #444; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #5e8cba; }

.token.selector,
.token.attr-name,
.token.string {
  color: #f95165; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #FFF; }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #5e8cba; }

.token.regex,
.token.important {
  color: #e90; }

.language-scss .token.variable {
  color: #A78F8F; }

.language-scss .token.statement {
  color: #FF1000; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

@-ms-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

a, .btn, .social-item {
  transition: .3s all ease-in-out; }

* {
  box-sizing: border-box; }

@media (max-width: 37.5em) {
  html {
    font-size: 100%; } }

body {
  background: url("../img/subtle_grunge.png") top left repeat;
  color: #212121; }

a {
  text-decoration: none;
  color: #de4d1f; }
  a a:visited {
    color: transparent; }
  a:hover {
    text-decoration: underline; }

p code,
.example code {
  font-size: 1.125em;
  word-wrap: normal; }

abbr {
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 1px; }
  abbr:hover {
    cursor: help; }

dl {
  margin-top: 0; }

small {
  font-size: 65%; }

img {
  max-width: 100%; }

section {
  padding: 0.825em 0 3.3em; }

.col-wrap {
  width: 92%;
  max-width: 40em;
  margin: 0 auto; }
  @media (max-width: 31.25em) {
    .col-wrap.top {
      padding-top: 15em; } }

.list-reset {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }

.logo {
  vertical-align: -50%;
  margin-right: 1.65rem;
  cursor: pointer; }
  @media (max-width: 41.25em) {
    .logo {
      vertical-align: -190%;
      margin-right: 5em; } }
  @media (max-width: 31.25em) {
    .logo {
      display: block;
      text-align: center;
      margin-right: 0;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0; } }

.logo-img {
  width: 15em; }
  .svg .logo-img {
    background: url("../img/logo.png") 50% no-repeat;
    background-size: 100%; }
  .no-svg .logo-img,
  .no-js .logo-img {
    background: url("../img/logo.png") 50% no-repeat;
    background-size: cover; }
  .logo-img::before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }
  @media (max-width: 41.25em) {
    .logo-img {
      width: 15em; } }
  @media (max-width: 31.25em) {
    .logo-img {
      margin: 0.825em auto; } }

.header {
  padding-top: 1.65em;
  background: rgba(255, 255, 255, 0.75) url("../img/typeplate-press.png") center bottom no-repeat; }
  @media (max-width: 31.25em) {
    .header {
      padding-top: 0; }
      .header p {
        text-align: left; } }

.nav {
  display: inline-block; }
  @media (max-width: 31.25em) {
    .nav {
      padding: 4.125em 0 0;
      display: block; } }
  @media screen and (max-width: 44.9375em) {
    .nav {
      display: block; } }

.nav-item {
  border-bottom: 1.5px solid rgba(156, 153, 153, 0.69);
  display: block;
  margin-bottom: 0;
  padding: 0 0.5em 0 0.25em;
  line-height: 2;
  letter-spacing: normal;
  color: #d94426; }
  .nav-item:hover, .nav-item:focus {
    text-decoration: none;
    color: #000000; }
  .nav-item:last-child {
    border-bottom: none; }

.dl-item,
.social-item {
  border-radius: 0.333333em;
  display: inline-block;
  font-family: Monaco, Consolas, monospace;
  font-size: 0.825em;
  letter-spacing: normal;
  text-align: center; }

.btn {
  border: none;
  padding: 0.825rem;
  background: rgba(41, 41, 41, 0.97); }
  .btn:last-of-type {
    margin-right: 0; }
  .btn:hover, .btn:focus {
    background: #d94426;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none; }
  .btn small {
    font-size: 80%; }
  .btn.btn-backtotop {
    width: 30%;
    text-rendering: optimizeLegibility; }
  @media (max-width: 48em) {
    .btn {
      font-size: 0.75em;
      padding: 0.5775rem; } }
  @media (max-width: 41.25em) {
    .btn {
      font-size: 1em;
      padding: 0.825rem;
      width: 100%; } }

.downloads {
  display: block;
  padding: 1.65em 0;
  background: black url("../img/asfalt.png") top left repeat; }
  .downloads .col-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.dl-item {
  box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.08), 1px 1px 1px black;
  -webkit-flex: 0 0 23.5%;
      -ms-flex: 0 0 23.5%;
          flex: 0 0 23.5%;
  position: relative;
  background: rgba(41, 41, 41, 0.22);
  color: rgba(255, 255, 255, 0.75); }
  .dl-item::after {
    content: attr(aria-label);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -26px;
    color: white; }
/*Still looking through the CSS now? (  ͡o ͜ʖ ͡o)*/
.section-title {
  font-size: 24px;
  font-size: "1.3333333333rem";
  margin-bottom: 14.5454545455px;
  margin-bottom: "0.8080808081rem"; }

body {
  opacity: 0;
  transition: 250ms opacity ease-in-out;
  font-weight: 400; }
  .wf-loading body {
    font-family: serif;
    visibility: hidden; }
  .no-js body,
  .wf-active body,
  .wf-inactive body {
    opacity: 1;
    visibility: visible;
    font-family: "ff-meta-serif-web-pro",serif;
    font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

.site-footer {
  font-size: 75%;
  width: 100%;
  background: #131415 url("../img/asfalt.png") top left repeat;
  color: #9E9E9E;
  text-align: center;
  height: 100%;
  padding: 2.475em 0 0.825em; }
  .site-footer a {
    color: #de4d1f; }

.botDivider {
  border-bottom: 0.140625rem solid #DEEAEA;
  position: relative; }
  .botDivider:last-child {
    border-bottom: none; }
  .botDivider.bright {
    border-bottom-color: #d94426; }
  .botDivider:not(.base-type):not(.header):after {
    content: "{T}";
    position: absolute;
    top: -1.2857142857em;
    left: 45%;
    width: 1.2857142857em;
    text-align: center;
    background: white url("../img/subtle_grunge.png") top left repeat; }

@-webkit-keyframes fade {
  to {
    opacity: 1; } }

@keyframes fade {
  to {
    opacity: 1; } }
